{% extends 'base.html' %}
{% block content %}
    <form action="/boulders/{{ boulder.id }}" method="post">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" value="{{boulder.name}}" required autofocus/>
        </div>
        <div>
            <label for="rock_type">Rock Type: </label>
            <input type="text" id="rock_type" name="rock_type" value="{{ boulder.rock_type }}" required/>
        </div>

        <button type="submit">Update Boulder </button>
    </form>
{% endblock content %}