{% extends 'base.html' %}
{% block content %}
<h2>New Boulder</h2>
<form action="/boulders" method="post" >
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Boulder Name" required autofocus />
    </div>
    
    <div>
        <label for="rock_type">Rock Type:</label>
        <input type="text" id="rock_type" name="rock_type" placeholder="Rock Type" required/>
    </div>

    <button type="submit">Add Boulder</button>
</form>

{% endblock content %}