{% extends 'base.html' %}
{% block content %}
<h2>Edit Bloc</h2>
<form action="/blocs/{{bloc.id}}" method="post">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="{{bloc.name}}" required autofocus />
    </div>

    <div>
        <label for="grade">Grade: </label>
        <input type="text" id="grade" name="grade" value="{{bloc.grade}}"  required/>
    </div>

    <div>
        <label for="wall_angle">Wall Angle: </label>
        <input type="text" id="wall_angle" name="wall_angle" value="{{bloc.wall_angle}}" required/>
    </div>

    <div>
        <label for="boulder">Boulder: </label>
        <select name="boulder_id" id="boulder">
            {% for boulder in all_boulders %}
                <option value="{{boulder.id}}" {% if bloc.boulder.id == boulder.id %} selected="selected"{%endif%}>{{boulder.name}}
                    
                </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="">Completed:</label>
        <select name="completed" id="completed">
            <option value="true" {% if bloc.compoleted ==  True %}
                selected ="selected"
            {% endif %}>True</option>
            <option value="false" {% if bloc.completed == False %}
                selected = "selected"
            {% endif %}>False</option>
        </select>
    </div>

    <button type="submit">Update Bloc</button>

</form>
{% endblock content %}