{% extends 'base.html' %}
{% block content %}

{% for bloc in all_blocs %}
    <div class="bloc">
        <a href="blocs/{{bloc.id}}">{{bloc.name}}</a>
        <p>{{ bloc.grade }}</p>
        <p>{{ bloc.wall_angle }}</p>
        <p>{{ bloc.boulder.name }}</p>
    </div>    
    <div class="buttons">
        {% if bloc.completed == True %}
            <i class="fa fa-check fa-2x" style="color:green" aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        {% endif %}
    </div>
{% endfor %}
{% endblock content %}
