{% extends 'base.html' %}
{% block content %}
    <div>
        <h3>{{ bloc.name }}</h3>
        <p>{{ bloc.name }}</p>
        <p>{{ bloc.wall_angle }}</p>
        <p>{{ bloc.boulder }}</p>
        <p>{{ bloc.completed }}</p>
        <div class="buttons">
            <p><a href="/blocs/{{bloc.id}}/edit" class="edit-link">Edit</a></p>
            <form action="/blocs/{{bloc.id}}/delete" method="POST">
                <button class="delete-button">Delete</button>
              </form>
        </div>
    </div>
{% endblock content %}