{% extends 'base.html' %}
{% block content %}
<h2>Show Bloc</h2>
    <div>
        <h3>{{ bloc.name }}</h3>
        <br>{{ bloc.name }}
        <br>{{ bloc.wall_angle }}
        <br><a href="/boulders/{{bloc.boulder.id}}">{{ bloc.boulder.name }}</a>
        <br>{{ bloc.completed }}
        <div class="buttons">
            <p><a href="/blocs/{{bloc.id}}/edit" class="edit-link">Edit</a></p>
            <form action="/blocs/{{bloc.id}}/delete" method="POST">
                <button class="delete-button">Delete</button>
              </form>
        </div>
    </div>
{% endblock content %}