body{
  font-family: "Helvetica", arial, sans-serif; font-size: 16px;
}

header {
  height: 4em;
  background-color: cadetblue;
  margin: 0;
  display: flex;
  margin-bottom: 10px;
  padding: 10;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color:rgb(45, 52, 59);
  padding-left: 16px;
}

h2 {
  color: cadetblue;
  padding-left: 16px;
}

nav a{
  text-decoration: underline;
  color: rgb(49, 61, 49);
}
nav a:hover{
  color: blanchedalmond;
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
}

nav ul li{
  margin-right: 20px;
}

body > div > form {
  padding-left: 100px;
}

.boulder{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  margin: 5px;
}

.bloc{
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  margin: 5px;
}

.buttons{
  width: 10px;
}

.delete-form{
    display: inline;
  }