<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Boulder Logs</title>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/boulders">Boulders</a></li>
                <li><a href="/boulders/new">Add a Boulder</a></li>
                <li><a href="/blocs">Blocs</a></li>
                <li><a href="/blocs/new">Add a Bloc</a></li>
                

            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
            
        {% endblock content %}
    </div>

    {% block home %}
        
    {% endblock home %}
</body>
</html>